* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

#title {
    color: #fff;
}

ul {
    list-style: none;
}

body {
    background-color: black;
}

img {
    width: 30px;
    height: 28px;
}

#itemCreator {
    text-align: center;
    padding: 5%;
}

#inputBox {
    display: flex;
    justify-content: center;
}

input {
    width: 80%;
    height: 50px;
    border-radius: 8px;
}

button:hover {
    opacity: 0.8;
    cursor: pointer;
}

#addBtn {
    width: 40px;
    height: 48px;
    border-radius: 0px 10px 10px 0px;
    background-color: #7DE861;
    align-self: flex-end;
}

#listBox {
    width: 70%;
    margin-left: 12%;
}

.listItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    margin-bottom: 3%;
    text-align: left;
    background-color: #332F2E;
    color: white;
    border-radius: 10px;
    position: relative;
    cursor: pointer;   
} 

.check {
    text-decoration: line-through black 2px;
}


ul li.check::before {
    position: absolute;
    left: -35px;
    bottom: 5px;
    content: url('');
    background-image: url('./images/checked.png');
    background-size: 100%;
    width: 30px;
    height: 30px;
}

.btn {
    position: relative;
    border-radius: 0px 10px 10px 0px;
    margin-left: 10px;
    width: 35px;
    height: 30px;
    background-color: #F73453;
}

@media (min-width:575px){

    input {
        width: 500px;
    }

    .listItem {
        min-width: 450px;
        width: auto;
    }

    ul li.check::before {
        width: 40px;
        height: 40px;
        left: -45px;
        bottom: 10px;
    }

    #lista {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
